

form action="/products/new" method="post"
    input type="text" name="name" placeholder="namn på produkten"
    input type="number" name="sid" placeholder="supplier id"
    input type="submit" value="skapa produkt"